.registration{
    margin: 30px;
}
.modal{
    background-color: #121212;
    color: #e0e0e0;
    font-size: 18px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputWrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}